# ==========================================
# 1. ГЛАВНЫЕ НАСТРОЙКИ СРЕДЫ
# Укажи свой домен (например: localhost для ПК или iinstasave.uz для сервера)
# ==========================================
DOMAIN=example.com
APP_URL=https://${DOMAIN}

# ==========================================
# 2. FRONTEND (Next.js)
# ==========================================
NEXT_PUBLIC_API_URL=${APP_URL}/api
NEXT_PUBLIC_SOCKET_URL=${APP_URL}

# ==========================================
# 3. BACKEND (NestJS / Express)
# ==========================================
PORT=4000
FRONTEND_URL=${APP_URL}
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"
REDIS_URL="redis://redis:6379"

JWT_SECRET="your-super-safe-jwt-secret-key"
JWT_EXPIRES_IN="7d"
MAGIC_LINK_TTL="600"
TELEGRAM_BOT_TOKEN="123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ"

# ==========================================
# 4. DATABASE (PostgreSQL)
# ==========================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_db_password
POSTGRES_DB=kanban
